@font-face {
    font-family: LoveloLineBold;
    src: url("fonts/LoveloLineBold.otf") format("opentype");
}

@font-face {
    font-family: LoveloBlack;
    src: url("fonts/LoveloBlack.otf") format("opentype");
}

@font-face {
    font-family: LoveloLineLight;
    src: url("fonts/LoveloLineLight.otf") format("opentype");
}